mat-list{
  min-height: 50%;
}

mat-list-item:hover, mat-list-item:nth-child(odd):hover {
  background-color: #e0dfdf;
}

mat-list-item:nth-child(odd) {
  background-color: #f2f2f2;
}

mat-form-field {
  width: 90%;
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}



.search-add-container {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 60px;
}


.search-add-container .button-container {
  display: flex;
  justify-content: center;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
}

.list-item-name {
  display: flex;
  align-items: center;
}

.hero-actions {
  display: flex;
  align-items: center;
  min-width: 100px;
}

.inline-spinner {
  flex: 1;
  display: flex;
  justify-content: center;
}



