:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.list-item-container {
  display: flex;
  justify-content: space-between;
}
mat-list{
  min-height: 50%;
}

mat-list-item:hover {
  background-color: #eee;
  cursor: pointer;
}

mat-form-field {
  width: 90%;
}

.search-add-container {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-bottom: 60px;
}

.search-add-container mat-form-field {
}

.search-add-container .button-container {
  display: flex;
  justify-content: center;
}

.hero-actions {
  display: flex;
  align-items: center;
  min-width: 100px;
}

.inline-spinner {
  flex: 1;
  display: flex;
  justify-content: center;
}
.list-item-name {
  display: flex;
  align-items: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

