<section class="search-add-container">
  <mat-form-field>
    <mat-label>{{inputPlaceHolder}}</mat-label>
    <input matInput placeholder="Your name" [formControl]="searchField">
  </mat-form-field>
  <div class="button-container">
    <button (click)="createHero()" mat-icon-button color="primary" aria-label="Add">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</section>

<mat-list role="list">
  <mat-list-item *ngFor="let hero of heroes" role="listitem"
    >
    <div class="list-item-container">
      <span>{{ hero?.name }}</span>
      <span class="hero-actions" mat-list-item-secondary>
        <button mat-icon-button aria-label="Edit" (click)="editHero(hero.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button (click)="openDialog(hero)" mat-icon-button color="warn" aria-label="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </div>
  </mat-list-item>
</mat-list>
