<h1>{{headerText}}</h1>
<form [formGroup]="heroForm" (ngSubmit)="onSubmit()" class="hero-form">
  <mat-form-field class="hero-form-field">
    <input matInput formControlName="name" placeholder="Name" class="hero-form-input" />
  </mat-form-field>

  <mat-form-field class="hero-form-field">
    <input matInput formControlName="age" placeholder="Age" class="hero-form-input" />
  </mat-form-field>

  <mat-form-field class="hero-form-field">
    <input matInput formControlName="power" placeholder="Power" class="hero-form-input" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" class="hero-form-button">Save</button>
</form>